<template>
	<header class="navbar"
	        :style="{ 'border-bottom': ('1px solid ' + (isBorder ? 'rgba(106,192,215,0.3)' : '#fff')) }">
		<SidebarButton @toggle-sidebar="$emit('toggle-sidebar')"/>

		<router-link
				:to="$localePath"
				class="home-link">
			<img
					:alt="$siteTitle"
					:src="$withBase($site.themeConfig.logo)"
					class="logo"
					v-if="$site.themeConfig.logo">
			<span
					:class="{ 'can-hide': $site.themeConfig.logo }"
					class="site-name"
					ref="siteName"
					v-if="$siteTitle">{{ $siteTitle }}</span>
		</router-link>

		<div
				:style="linksWrapMaxWidth ? {
        'max-width': linksWrapMaxWidth + 'px'
      } : {}" class="links">
			<NavLinks class="can-hide"/>
			<SearchBox v-if="$site.themeConfig.search !== false && $page.frontmatter.search !== false"/>
		</div>
	</header>
</template>

<script>
	import AlgoliaSearchBox from '@AlgoliaSearchBox'
	import SearchBox from '@SearchBox'
	import SidebarButton from '@theme/components/SidebarButton.vue'
	import NavLinks from '@theme/components/NavLinks.vue'

	export default {
		components: {SidebarButton, NavLinks, SearchBox, AlgoliaSearchBox},

		data() {
			return {
				linksWrapMaxWidth: null,
				isBorder: false
			}
		},

		watch: {
			"$route": function (route) {
				this.isBorder = route.path !== '/'
			}
		},

		mounted() {

			this.isBorder = !this.$page.frontmatter.home

			const handleScroll = () => {
				this.isBorder = window.scrollY >= 30 || !this.$page.frontmatter.home
			}

			window.addEventListener('scroll', handleScroll)

			const MOBILE_DESKTOP_BREAKPOINT = 719 // refer to config.styl
			const NAVBAR_VERTICAL_PADDING = parseInt(css(this.$el, 'paddingLeft')) + parseInt(css(this.$el, 'paddingRight'))
			const handleLinksWrapWidth = () => {
				if (document.documentElement.clientWidth < MOBILE_DESKTOP_BREAKPOINT) {
					this.linksWrapMaxWidth = null
				} else {
					this.linksWrapMaxWidth = this.$el.offsetWidth - NAVBAR_VERTICAL_PADDING
						- (this.$refs.siteName && this.$refs.siteName.offsetWidth || 0)
				}
			}
			handleLinksWrapWidth()
			window.addEventListener('resize', handleLinksWrapWidth, false)
		},

		computed: {
			algolia() {
				return this.$themeLocaleConfig.algolia || this.$site.themeConfig.algolia || {}
			},

			isAlgoliaSearch() {
				return this.algolia && this.algolia.apiKey && this.algolia.indexName
			}
		}
	}

	function css(el, property) {
		// NOTE: Known bug, will return 'auto' if style value is 'auto'
		const win = el.ownerDocument.defaultView
		// null means not to return pseudo styles
		return win.getComputedStyle(el, null)[property]
	}
</script>

<style lang="stylus">
	$navbar-vertical-padding = 0.7rem
	$navbar-horizontal-padding = 1.5rem

	.navbar
		padding $navbar-vertical-padding $navbar-horizontal-padding
		line-height $navbarHeight - 1.4rem
		transition border-bottom .1s ease-in-out

		a, span, img
			display inline-block

		.logo
			height $navbarHeight - 1.4rem
			min-width $navbarHeight - 1.4rem
			margin-right 0.8rem
			vertical-align top

		.site-name
			font-size 1.3rem
			font-weight 600
			color $navbarTitleColor
			position relative

		.links
			padding-left 1.5rem
			box-sizing border-box
			background-color white
			white-space nowrap
			font-size 0.9rem
			position absolute
			right $navbar-horizontal-padding
			top $navbar-vertical-padding
			display flex

			.search-box
				flex: 0 0 auto
				vertical-align top

		.search-box
			input
				cursor pointer
				width 0
				border-color transparent
				position relative

				&:focus
					cursor text
					left 0
					width 10rem
					border-color $accentColor

	@media (max-width: $MQMobile)
		.navbar
			padding-left 4rem

			.can-hide
				display none

			.links
				padding-left 1.5rem
</style>
