<template>
	<router-link
			:exact="exact"
			:to="link"
			class="nav-link"
			v-if="!isExternal(link)"
	>{{ item.text }}
	</router-link>
	<a
			:href="link"
			:rel="isMailto(link) || isTel(link) ? null : 'noopener noreferrer'"
			:target="isMailto(link) || isTel(link) ? null : '_blank'"
			class="nav-link external"
			v-else
	>
		{{ item.text }}
		<OutboundLink/>
	</a>
</template>

<script>
	import {ensureExt, isExternal, isMailto, isTel} from '../util'

	export default {
		props: {
			item: {
				required: true
			}
		},

		computed: {
			link() {
				return ensureExt(this.item.link)
			},

			exact() {
				if (this.$site.locales) {
					return Object.keys(this.$site.locales).some(rootLink => rootLink === this.link)
				}
				return this.link === '/'
			}
		},

		methods: {
			isExternal,
			isMailto,
			isTel
		}
	}
</script>
