<template>
	<div @click="$emit('toggle-sidebar')" class="sidebar-button">
		<svg aria-hidden="true" class="icon" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
			<path class=""
			      d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
			      fill="currentColor"></path>
		</svg>
	</div>
</template>

<style lang="stylus">
	.sidebar-button
		cursor pointer
		display none
		width 1.25rem
		height 1.25rem
		position absolute
		padding 0.6rem
		top 0.6rem
		left 1rem

		.icon
			display block
			width 1.25rem
			height 1.25rem

	@media (max-width: $MQMobile)
		.sidebar-button
			display block
</style>
