<template>
	<ul
			class="sidebar-links"
			v-if="items.length"
	>
		<li :key="i" v-for="(item, i) in items">
			<SidebarGroup
					:collapsable="item.collapsable || item.collapsible"
					:depth="depth"
					:item="item"
					:open="i === openGroupIndex"
					@toggle="toggleGroup(i)"
					v-if="item.type === 'group'"
			/>
			<SidebarLink
					:item="item"
					:sidebarDepth="sidebarDepth"
					v-else
			/>
		</li>
	</ul>
</template>

<script>
	import SidebarGroup from '@theme/components/SidebarGroup.vue'
	import SidebarLink from '@theme/components/SidebarLink.vue'
	import {isActive} from '../util'

	export default {
		name: 'SidebarLinks',

		components: {SidebarGroup, SidebarLink},

		props: [
			'items',
			'depth',  // depth of current sidebar links
			'sidebarDepth' // depth of headers to be extracted
		],

		data() {
			return {
				openGroupIndex: 0
			}
		},

		created() {
			this.refreshIndex()
		},

		watch: {
			'$route'() {
				this.refreshIndex()
			}
		},

		methods: {
			refreshIndex() {
				const index = resolveOpenGroupIndex(
					this.$route,
					this.items
				)
				if (index > -1) {
					this.openGroupIndex = index
				}
			},

			toggleGroup(index) {
				this.openGroupIndex = index === this.openGroupIndex ? -1 : index
			},

			isActive(page) {
				return isActive(this.$route, page.regularPath)
			}
		}
	}

	function resolveOpenGroupIndex(route, items) {
		for (let i = 0; i < items.length; i++) {
			const item = items[i]
			if (item.type === 'group' && item.children.some(c => c.type === 'page' && isActive(route, c.path))) {
				return i
			}
		}
		return -1
	}
</script>
