<template>
	<a type="button" class="action-button" @click="onClick" :title="title">
		<slot></slot>
	</a>
</template>

<script>
	export default {
		name: "Button",
		props: ['onClick', 'title', 'text']
	}
</script>

<style lang="stylus" scoped>
	.action-button
		user-select none
		-webkit-user-select none
		-ms-user-select none
		-webkit-touch-callout none
		-o-user-select none
		-moz-user-select none
		cursor pointer
		display inline-block
		font-size 1.2rem
		color $accentColor
		//background-color $accentColor
		padding 0.8rem 1.6rem
		border-radius 4px
		transition background-color .1s ease
		box-sizing border-box
		border 2px solid $accentColor

		&:hover
			background-color lighten($accentColor, 10%)
			color #fff
</style>