<template>
	<div class="distribution">
		<p>
			// TODO
		</p>

		<p>
			Please consult the <SimpleLink :href="`http://groovy-lang.org/changelogs/changelog-${version}.html`">change log</SimpleLink> for details.
		</p>
	</div>
</template>

<script>
	import SimpleLink from "./SimpleLink"
	export default {
		name: "Distribution",
		components: {SimpleLink},
		props: ['version']
	}
</script>

<style scoped>

</style>