<template>
	<action-button :onClick="download" :title="`Download Apache Groovy ${groovyVersion} binary zip\nSee below for verification information`">
		📥 Download <b>{{groovyVersion}}</b>
	</action-button>
</template>

<script>
	import ActionButton from './ActionButton'

	export default {
		name: "DownloadGroovy",
		components: {ActionButton},
		data() {
			return {
				groovyVersion: '2.5.6'
			}
		},
		methods: {
			download() {
				window.location.href = `https://dl.bintray.com/groovy/maven/apache-groovy-sdk-${this.groovyVersion}.zip`
			}
		}
	}
</script>

<style scoped>
</style>