<template>
	<div>
		<table>
			<th>Gradle</th>
			<th>Maven</th>
			<th>Explanation</th>
			<tr>
				<td>
					<code>
						{{gradle('groovy')}}
					</code>
				</td>
				<td>
					<code>
						{{maven('groovy')}}
					</code>
				</td>
				<td>
					Just the core of groovy without the modules (see below).
				</td>
			</tr>

			<tr>
				<td>
					<code>
						{{gradle('groovy-$module')}}
					</code>
				</td>
				<td>
					<code>
						{{maven('groovy-$module')}}
					</code>
				</td>
				<td>
					`$module` stands for the different optional groovy modules `ant`, `bsf`, `console`, `docgenerator`,
					`groovydoc`, `groovysh`, `jmx`, `json`, `jsr223`, `servlet`, `sql`, `swing`, `test`, `testng` and
					`xml`. Example: `
					<artifactId>groovy-sql</artifactId>
					`
				</td>
			</tr>

			<tr>
				<td>
					<code>
						{{gradle('groovy-all')}}
					</code>
				</td>
				<td>
					<code>
						{{maven('groovy-all')}}
					</code>
				</td>

				<td>
					The core plus all the modules. Optional dependencies are marked as optional. You may need to include
					some of the optional dependencies to use some features of Groovy, e.g. AntBuilder, GroovyMBeans,
					etc.
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
	export default {
		name: "MavenTable",
		props: ['version'],
		methods: {
			maven(module) {
				return `
					<groupId>org.codehaus.groovy</groupId>
					<artifactId>${module}</artifactId>
					<version>${this.version}</version>
				`
			},
			gradle(module) {
				return `
				org.codehaus.groovy:${module}:${this.version}
				`
			}
		}
	}
</script>

<style scoped>

</style>