<template>
	<div>
		<select id="select-groovy-version"
		        onchange="window.location.href='http://docs.groovy-lang.org/docs/groovy-' + this.value + '/html/'">
			<option>Select a version</option>
			<option v-for="ver in groovyVersions">{{ver}}</option>
		</select>
	</div>
</template>

<script>
	export default {
		name: "SelectGroovyVersion",
		data() {
			return {
				groovyVersions: [
					'3.0.0-alpha-4',
					'3.0.0-alpha-3',
					'3.0.0-alpha-2',
					'3.0.0-alpha-1',
					'2.6.0-alpha-4',
					'2.6.0-alpha-3',
					'2.6.0-alpha-2',
					'2.6.0-alpha-1',
					'2.5.6',
					'2.5.5',
					'2.5.4',
					'2.5.3',
					'2.5.2',
					'2.5.1',
					'2.5.0',
					'2.5.0-rc-3',
					'2.5.0-rc-2',
					'2.5.0-rc-1',
					'2.4.16',
					'2.4.15',
					'2.4.14',
					'2.4.13',
					'2.4.12',
					'2.4.11',
					'2.4.10',
					'2.4.9',
					'2.4.8',
					'2.4.7',
					'2.4.6',
					'2.4.5',
					'2.4.4',
					'2.4.3',
					'2.4.2',
					'2.4.1',
					'2.4.0',
					'2.3.11',
					'2.3.10',
					'2.3.9',
					'2.3.8',
					'2.3.7',
					'2.3.6',
					'2.3.5',
					'2.3.4',
					'2.3.3',
					'2.3.2',
					'2.3.1',
					'2.3.0',
					'2.2.2',
					'2.2.1',
					'2.2.0',
					'2.1.9',
					'2.1.8',
					'2.1.7',
					'2.1.6',
					'2.1.5',
					'2.1.4',
					'2.1.3',
					'2.1.2',
					'2.1.1',
					'2.1.0',
					'2.0.8',
					'2.0.7',
					'2.0.6',
					'2.0.5',
					'2.0.4',
					'2.0.3',
					'2.0.2',
					'2.0.1',
					'2.0.0',
					'1.8.9',
					'1.8.8',
					'1.8.7',
					'1.8.6',
					'1.8.5',
					'1.8.4',
					'1.8.3',
					'1.8.2',
					'1.8.1',
					'1.8.0',
					'1.7.11',
					'1.7.10',
					'1.7.9',
					'1.7.8',
					'1.7.7',
					'1.7.6',
					'1.7.5',
					'1.7.4',
					'1.7.3',
					'1.7.2',
					'1.7.1',
					'1.7.0',
				]
			}
		}
	}
</script>

<style scoped>
	#select-groovy-version {
		width: 100%;
	}
</style>